#header-value {
    font-size: 1.5em;
    color: black;
    text-align: center;
    position: fixed;
    bottom: 160px; /* Adjust as needed to position above other elements */
    right: 20px;
}

audio {
    display: block;
    position: fixed;
    bottom: 100px; /* Adjust to fit above buttons */
    right: 20px;
    width: 100vmax;
    max-width: 300px; /* Adjust max-width to prevent overflowing */
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Reduce the gap between buttons */
    position: fixed;
    bottom: 20px; /* Position at the bottom */
    right: 20px; /* Align to the right */
}

.V, .N {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px; /* Add margin for spacing */
    position: fixed; /* Fix the position */
}

.V {
    bottom: 20px; /* Position from the bottom */
    right: 10px;  /* Position from the right, adjusted for spacing */
}

.N {
    bottom: 20px; /* Position from the bottom */
    right: 150px;  /* Position from the right */
}

.V:hover, .N:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
}
