/* Основное меню */
.menu {
    position: fixed;
    top: 60px;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1000;
    height: 100%;
    transition: all 1s;
    transform: translateX(130%);
    background-color: black;
    border-top-left-radius: 20px; /* Добавьте это свойство для закругленных краев */
}
.menu.active {
    transform: translateX(0);
}

/* Контент меню */
.menu_content {
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    box-sizing: border-box; /* Для учета padding */
    color: black;
    transition:all 1s;
    transition-duration: 2s;
}

/* Размытие фона */
.blur.active {
    width: 1900px;
    height: 100vh;
    backdrop-filter: blur(2px);
    position: absolute;
    right:300px;
    transition:all 1s;

}
.blur{
    width: 0;
    height: 0;
    position: absolute;
    right:100px;
    transition: all 1s;
}


ul {
    margin-left: 15px;
    text-align: center;
    list-style: none; /* Убираем маркеры списка */
    padding: 0;
}

li {
    color: white;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 20px;
    transition: color 0.3s ease, transform 0.3s ease; /* Плавный переход для эффектов */
}

li:hover {

    transform: scale(1.1); /* Увеличение при наведении */
}

li::before {
    content: "•"; /* Добавляем маркер перед каждым элементом */
    color: white;
    margin-right: 20px;
    font-size: 1.5rem;
}

ul li a {
    color: inherit; /* Наследуем цвет */
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.3s ease; /* Плавный переход цвета */
}


.exit,.delete{
    color:red;
}
.exit,.delete:hover{
    color: red;

}